<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-3 border">3</div>
    <div class="col-12 col-sm-6 col-lg-3 border">3</div>
    <div class="col-12 col-sm-6 col-lg-3 border">3</div>
    <div class="col-12 col-sm-6 col-lg-3 border">3</div>
  </div>
</div>

<main class="container-fluid d-flex align-items-center justify-content-center alto-100">
  <div class="row">
    <div class="col-12 col-md-9 bg-primary">
      <div class="row">
        <div class="col-12 col-lg-8 bg-success p-2">
          <article class="card bg-success">
            <div class="card-body">
              <div class="d-flex">
                <img src="" alt="">
              </div>
            </div>
          </article>
        </div>
        <div class="col-12 col-lg-4 bg-success">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi accusantium ipsum laboriosam reiciendis voluptatibus qui molestias alias eveniet, sapiente facere non quae dolore veritatis nulla suscipit aperiam porro harum ab!
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-4 bg-danger">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad molestiae dolor tempora itaque nostrum aliquam, iste quasi dolore maiores incidunt enim, ducimus saepe rerum eaque soluta a blanditiis deleniti quod.
        </div>
        <div class="col-12 col-lg-8 bg-info">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi accusantium ipsum laboriosam reiciendis voluptatibus qui molestias alias eveniet, sapiente facere non quae dolore veritatis nulla suscipit aperiam porro harum ab!
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 bg-secondary ">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi doloremque quas sunt deleniti doloribus, mollitia quisquam fuga earum ipsam ducimus, rerum hic, cumque quam in? Ab quasi libero ipsam voluptates?
      </p>
    </div>
  </div>
  
</main>

